version: '3'

services:
  app:
    container_name: app
    image: ghcr.io/akovalyuk/automated-lab-testing-sibfu-backend:latest
    volumes:
      - ./app:/app/app:ro
      - ./tests:/app/tests:ro
      - ./migrator:/app/migrator:ro
      - ./static:/app/static
    # ports:
    #   - "${APP_PORT}:${APP_PORT}"
    env_file:
      - .env
    environment:
      - DOCKER=1
      - COMMIT_SHA=${COMMIT_SHA}
      - BRANCH=${BRANCH}
    restart: always
    command: ./run
    depends_on:
      - app-db
      - runner-server
      - app-redis

  nginx:
    container_name: nginx
    image: nginx:1.25
    ports:
      - "80:80"
      - "443:443"
    restart: always
    volumes:
      - ./nginx.prod.conf:/etc/nginx/nginx.conf
      - ./certbot/www/:/var/www/certbot/:ro
    depends_on:
      - app

  certbot:
    image: certbot/certbot:v1.32.1
    volumes:
      - ./certbot/www/:/var/www/certbot/
      - ./certbot/conf/:/etc/letsencrypt/

  app-redis:
    container_name: app-redis
    image: redis:6
    volumes:
      - app-redis-data:/data
    restart: always

  callback-server:
    container_name: callback-server
    image: ghcr.io/akovalyuk/automated-lab-testing-sibfu-backend:latest
    volumes:
      - ./app:/app/app:ro
    env_file:
      - .env
    restart: always
    command: poetry run uvicorn app.callback_server:app --host 0.0.0.0 --port ${APP_PORT} --reload
    depends_on:
      - app

  app-db:
    image: postgres:15-bullseye
    container_name: app-db
    volumes:
      - ./data:/var/lib/postgresql/data
    env_file:
      - .env
    restart: always

  runner-server:
    image: judge0/judge0:latest
    container_name: runner-server
    volumes:
      - ./runner/judge0.conf:/api/judge0.conf:ro
    privileged: true
    restart: always
    command: ['./scripts/server']
    depends_on:
      - worker

  worker:
    image: judge0/judge0:latest
    container_name: worker
    command: ['./scripts/workers']
    volumes:
      - ./runner/judge0.conf:/api/judge0.conf:ro
    privileged: true
    restart: always
    depends_on:
      - runner-db
      - runner-redis

  runner-db:
    container_name: runner-db
    image: postgres:15-bullseye
    env_file: runner/judge0.conf
    volumes:
      - runner-postgres-data:/var/lib/postgresql/data/
    restart: always

  runner-redis:
    container_name: runner-redis
    image: redis:6
    command: [
      "bash", "-c", 'docker-entrypoint.sh --appendonly yes --requirepass "$$REDIS_PASSWORD"'
    ]
    env_file: runner/judge0.conf
    volumes:
      - redis-data:/data
    restart: always

volumes:
  runner-postgres-data:
  redis-data:
  app-redis-data:
